# ----------------------------------------------------------------------
# Local projects dir: default is ~/Code
# ----------------------------------------------------------------------
export PROJECTS=~/Code

# ----------------------------------------------------------------------
# Editor command: default `code`
# ----------------------------------------------------------------------
export EDITOR=code

# ----------------------------------------------------------------------
# Disable Homebrew analytics
# ----------------------------------------------------------------------
export HOMEBREW_NO_ANALYTICS=1
