"*":
  "atom-beautify":
    general:
      _analyticsUserId: "3ee2c397-bbb5-402b-8c7e-31aedebcc1b0"
    scss:
      newline_between_rules: true
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "tree-view-open-files"
      "language-javascript-jsx"
    ]
    excludeVcsIgnoredPaths: false
    followSymlinks: false
    hideGitIgnoredFiles: false
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    projectHome: "/Users/mshick/Code"
    themes: [
      "predawn-ui"
      "predawn-twilight"
    ]
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 18
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "d2363a76-9c89-c8f3-f57a-0db45ee14e73"
  "git-control":
    showGitFlowButton: false
  linter:
    inlineTooltipInterval: 300
    lintOnFlyInterval: 600
    showErrorPanel: false
    showErrorTabLine: true
    statusIconScope: "File"
  "predawn-ui": {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "tree-view":
    hideVcsIgnoredFiles: false
  "tree-view-open-files": {}
  welcome:
    showOnStartup: false
".js.text":
  whitespace:
    removeTrailingWhitespace: false
".jsx.text":
  whitespace:
    removeTrailingWhitespace: false
