"*":
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    projectHome: "/Users/mshick/Code"
    themes: [
      "predawn-ui"
      "predawn-twilight"
    ]
  editor:
    fontFamily: "Source Code Pro"
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "d2363a76-9c89-c8f3-f57a-0db45ee14e73"
  "git-control":
    showGitFlowButton: false
  "predawn-ui": {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  welcome:
    showOnStartup: false
