"*":
  "atom-beautify":
    general:
      _analyticsUserId: "3ee2c397-bbb5-402b-8c7e-31aedebcc1b0"
    scss:
      newline_between_rules: true
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "tree-view-open-files"
      "language-javascript-jsx"
    ]
    excludeVcsIgnoredPaths: false
    followSymlinks: false
    hideGitIgnoredFiles: false
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    projectHome: "/Users/mshick/Code"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 17
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "d2363a76-9c89-c8f3-f57a-0db45ee14e73"
  "git-control":
    showGitFlowButton: false
  "git-plus":
    general:
      _analyticsUserId: "d3a9f61f-364c-4d7b-b121-1b2ed4d9f8aa"
  linter: {}
  "linter-eslint":
    globalNodePath: "/Users/mshick/.nvm/versions/node/v6.10.2"
  "linter-ui-default": {}
  "predawn-ui": {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "tree-view":
    hideVcsIgnoredFiles: false
  "tree-view-open-files": {}
  welcome:
    showOnStartup: false
  whitespace: {}
".js.text":
  whitespace:
    removeTrailingWhitespace: false
".jsx.text":
  whitespace:
    removeTrailingWhitespace: false
