[
  {
    title: "Parsley Health Website"
    group: "Parsley Health"
    paths: [
      "/Users/mshick/Code/parsleyhealth/wp-website"
    ]
  }
  {
    title: "Parsley Health Services"
    group: "Parsley Health"
    paths: [
      "/Users/mshick/Code/parsleyhealth/services"
    ]
  }
  {
    title: "Parsley Health Portal"
    group: "Parsley Health"
    paths: [
      "/Users/mshick/Code/parsleyhealth/portal"
    ]
  }
  {
    title: "Parsley Health Eslint Config"
    group: "Parsley Health"
    paths: [
      "/Users/mshick/Code/parsleyhealth/eslint-config-parsley"
    ]
  }
  {
    title: ".dotfiles"
    group: "Personal"
    paths: [
      "/Users/mshick/.dotfiles"
    ]
  }
  {
    title: "libpiggy"
    group: "Community"
    paths: [
      "/Users/mshick/Code/libpiggy"
    ]
  }
]
