payforsuccess:
  title: "Pay for Success"
  paths: [
    "/Users/mshick/Code/payforsuccess.org"
  ]
dotfiles:
  title: "dotfiles"
  paths: [
    "/Users/mshick/.dotfiles"
  ]
alignedenergy:
  title: "alignedenergy"
  paths: [
    "/Users/mshick/Code/alignedenergy"
  ]
