# ----------------------------------------------------------------------
# Local projects dir: default is ~/Code
# ----------------------------------------------------------------------
export PROJECTS=~/Code

# ----------------------------------------------------------------------
# Pubkey path: default ~/.ssh/id_rsa.pub
# ----------------------------------------------------------------------
export PUBKEY=~/.ssh/id_rsa.pub

# ----------------------------------------------------------------------
# Editor command: default `code`
# ----------------------------------------------------------------------
export EDITOR=code
