# ----------------------------------------------------------------------
# Local projects dir: default is ~/Code
# ----------------------------------------------------------------------
PROJECTS=~/Code

# ----------------------------------------------------------------------
# Pubkey path: default ~/.ssh/id_rsa.pub
# ----------------------------------------------------------------------
PUBKEY=~/.ssh/id_rsa.pub
