# ----------------------------------------------------------------------
# Local projects dir: default is ~/Code
# ----------------------------------------------------------------------
export PROJECTS=~/Code

# ----------------------------------------------------------------------
# Editor command: default `code`
# ----------------------------------------------------------------------
export EDITOR=code
